<%= form_with(url: orders_path(order: @order), method: "post", local: true) do |form| %>

	<div class="container" style="margin-top: 10px;">
		<div class="row" >
			<div class="col">
			<%= link_to 'Reset Cart',current_user.cart, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-lg'  %>
  			<%= form.submit 'Proceed to Order',class: 'btn btn-success btn-lg', data: { "disable-with": "Ordered" }%>
 			 </div>
  	</div>
	</div>
<% end %>