<div class="container-fluid" style="background: #3CB371;">
  <h1><strong>Ordered Successfully!</strong></h1><br>
</div>
<div class="container" style="min-height:840px ; padding-left:60px;margin-top: 220px;">
		<%= image_tag ("#{@images[0]}"),  height: "300" ,width: "300" , style:"box-shadow: 12px 12px 5px #D3D3D3" %>
		<%= image_tag ("#{@images[1]}"),  height: "300" ,width: "300" , style:"box-shadow: 12px 12px 5px #D3D3D3" %>
		<%= image_tag ("#{@images[2]}"),  height: "300" ,width: "300" , style:"box-shadow: 12px 12px 5px #D3D3D3" %><br>
</div>

