<div class="container-fluid" style="background: grey;">
	<h1><strong>Products</strong></h1><br>
</div>
<% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>" id="flash">
            <%= value %>
      </div>
<% end %>
<%= render 'products_all' %>
	


